version: 4
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://core-mosquitto:1883
  user: mqtt
  password: Dottie123!
serial:
  port: >-
    /dev/serial/by-id/usb-Itead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_V2_b248d13b1574ef119b7fbb74d9b539e6-if00-port0
  baudrate: 115200
  rtscts: false
  adapter: ember
advanced:
  log_level: info
  channel: 11
  network_key:
    - 251
    - 75
    - 247
    - 170
    - 173
    - 143
    - 66
    - 230
    - 61
    - 51
    - 191
    - 205
    - 223
    - 24
    - 217
    - 220
  ext_pan_id:
    - 28
    - 47
    - 208
    - 109
    - 223
    - 171
    - 56
    - 161
  last_seen: ISO_8601_local
  transmit_power: 15
frontend:
  enabled: true
  port: 8099
homeassistant:
  enabled: true
devices:
  '0xffffb40e06008611':
    friendly_name: Kitchen Counter Vibration Sensor
  '0xffffb40e06008688':
    friendly_name: Dryer Vibration Sensor
  '0xffffb40e0600a9c2':
    friendly_name: TV Power Strip
  '0xffffb40e06018296':
    friendly_name: Cody's Desk
  '0xffffb40e0601747b':
    friendly_name: Master Bedroom TV Power Strip
  '0xffffb40e06018ad4':
    friendly_name: Wifi Outlet
  '0x00124b002fa5730b':
    friendly_name: Laundry Room Contact Sensor
  '0x08ddebfffee139f7':
    friendly_name: Kitchen Water Leak Sensor
  '0x44e2f8fffe0bfacc':
    friendly_name: Laundry Room Water Leak Sensor
  '0x44e2f8fffe0c2802':
    friendly_name: Master Bedroom Water Leak Sensor
  '0xffffb40e0601fd3c':
    friendly_name: Cactus Sensor
  '0xffffb40e06018452':
    friendly_name: Washer Power
  '0xffffb40e06008f3b':
    friendly_name: Dishwasher Vibration Sensor
  '0xffffb40e06016a25':
    friendly_name: Shark Plug
  '0xffffb40e0600a994':
    friendly_name: 3D Printer Plug
  '0xffffb40e06018d8d':
    friendly_name: Master Bedroom Nightstand Power Strip
  '0x00124b002fae9557':
    friendly_name: Laundry Room Motion Sensor
  '0x00124b002e6555de':
    friendly_name: Master Closet Motion Sensor
  '0x282c02bfffefcc42':
    friendly_name: Hallway Plug
  '0xffffb40e060002bb':
    friendly_name: Dell Server Plug
  '0xffffb40e06000044':
    friendly_name: Guest Bedroom - Window Wall Plug
  '0x282c02bfffeff2c2':
    friendly_name: Dishwasher Power
  '0x00124b002e6bf88a':
    friendly_name: Pantry Motion Sensor
  '0x7c3e822f89120000':
    friendly_name: Temperature - Living Room
  '0x7c3e822f82760000':
    friendly_name: Temperature - Deep Freezer
  '0x7c3e822f71230000':
    friendly_name: Temperature - Master Bedroom
availability:
  enabled: true
